[submodule "libraries/hwlib"]
	path = libraries/hwlib
	url = https://github.com/R2D2-2018/hwlib.git
[submodule "libraries/UART_LIB"]
	path = libraries/UART_LIB
	url = https://github.com/R2D2-2018/UART_LIB.git
